/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.logo {
  border: 1px solid #ffffff;
  height: 130px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 4rem;
  color: #41bdd3;
  line-height: 0; }
  .logo:hover {
    background: #ffffff;
    cursor: pointer; }

.info-section {
  padding: 54px;
  width: 35%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0; }
  .info-section .info-box {
    position: absolute;
    bottom: 60px; }
    .info-section .info-box h4 {
      font-size: 1.2rem;
      color: #ffffff;
      margin: 0.7rem 0; }
    .info-section .info-box p {
      font-size: 1.2rem;
      font-weight: 300;
      color: #ffffff;
      margin: 0.2rem 0 1.6rem; }

.icon-section a {
  color: #ffffff;
  text-decoration: none;
  padding: 0 10px;
  font-size: 1.6rem; }
  .icon-section a:hover {
    color: #41BDD3; }
  .icon-section a:first-child {
    padding: 0 10px 0 0; }

.home .logo {
  border: 1px solid #ffffff;
  height: 110px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 3rem;
  color: #41bdd3;
  line-height: 0; }
  .home .logo:hover {
    background: #ffffff;
    cursor: pointer;
    border-bottom: 1rem solid; }

.home .info-section {
  padding: 54px;
  width: 35%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0; }
  .home .info-section .info-box {
    padding: 54px;
    position: absolute;
    bottom: 60px; }
    .home .info-section .info-box h4 {
      font-size: 1.2rem;
      color: #ffffff;
      margin: 0.7rem 0; }
    .home .info-section .info-box p {
      font-size: 1.2rem;
      font-weight: 300;
      color: #ffffff;
      margin: 0.2rem 0 1.6rem; }

.content-area {
  margin-left: 35%;
  width: 76%;
  background: #41bdd3;
  height: 100%; }
  .content-area .img-container {
    display: inline-block;
    width: 30%;
    position: relative;
    height: 100%; }
    .content-area .img-container .user-img {
      position: absolute;
      top: 90px;
      left: -250px;
      width: 600px;
      height: 85%;
      background: url(https://static.pexels.com/photos/697509/pexels-photo-697509.jpeg) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      -webkit-box-shadow: 0px 0px 81px 16px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 81px 16px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 81px 16px rgba(0, 0, 0, 0.1); }
  .content-area .profile-section {
    vertical-align: top;
    display: inline-block;
    padding: 22% 0 0 0;
    max-width: 690px; }
    .content-area .profile-section .profile h1 {
      font-size: 2.9rem;
      font-weight: 900;
      line-height: 1.2;
      margin: 0 0 1rem; }
      .content-area .profile-section .profile h1 span {
        color: #0e0e10; }
    .content-area .profile-section .profile h5 {
      font-size: 1.1rem;
      margin: 0 0 2rem;
      font-weight: 380; }
    .content-area .profile-section .profile p {
      color: #0e0e10;
      font-weight: 180;
      line-height: 1.5;
      margin: 0 0 2rem 0; }

.resume .info-section {
  width: 20%; }

.resume .content-area {
  background: #41bdd3;
  margin-left: 20%;
  width: 80%;
  min-width: 300px;
  height: 100%;
  overflow: hidden; }
  .resume .content-area .category {
    margin-bottom: 56px; }
    .resume .content-area .category h1 {
      font-weight: 700;
      font-size: 3rem;
      text-transform: uppercase;
      margin-bottom: 56px; }
    .resume .content-area .category .xp-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 56px;
      grid-row-gap: 30px;
      max-width: 1000px; }
      .resume .content-area .category .xp-section .xp-box {
        padding: 30px;
        -webkit-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
        cursor: pointer; }
        .resume .content-area .category .xp-section .xp-box:hover {
          -webkit-box-shadow: 0px 20px 74px 6px rgba(0, 0, 0, 0.1);
          -moz-box-shadow: 0px 20px 74px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 20px 74px 6px rgba(0, 0, 0, 0.1); }
        .resume .content-area .category .xp-section .xp-box h5 {
          font-weight: 549;
          font-size: 1.2rem;
          margin-bottom: 1.4rem;
          text-transform: uppercase; }
        .resume .content-area .category .xp-section .xp-box p {
          font-weight: 320;
          font-size: 1rem;
          margin-bottom: 1rem; }

.resume .logo {
  border: 1px solid #ffffff;
  height: 130px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 4rem;
  color: #41bdd3;
  line-height: 0; }
  .resume .logo:hover {
    background: #ffffff;
    cursor: pointer; }

.resume .info-section {
  padding: 54px;
  width: 35%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0; }
  .resume .info-section .info-box {
    position: absolute;
    bottom: 60px; }
    .resume .info-section .info-box h4 {
      font-size: 1.2rem;
      color: #ffffff;
      margin: 0.7rem 0; }
    .resume .info-section .info-box p {
      font-size: 1.2rem;
      font-weight: 300;
      color: #ffffff;
      margin: 0.2rem 0 1.6rem; }

.resume .icon-section a {
  color: #ffffff;
  text-decoration: none;
  padding: 0 10px;
  font-size: 1.6rem; }
  .resume .icon-section a:hover {
    color: #41BDD3; }
  .resume .icon-section a:first-child {
    padding: 0 10px 0 0; }

.content-area {
  margin-left: 35%;
  width: 76%;
  background: #41bdd3;
  height: 100%; }
  .content-area .img-container {
    display: inline-block;
    width: 30%;
    position: relative;
    height: 100%; }
    .content-area .img-container .user-img {
      position: absolute;
      top: 90px;
      left: -250px;
      width: 600px;
      height: 85%;
      background: url(https://static.pexels.com/photos/697509/pexels-photo-697509.jpeg) no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      -webkit-box-shadow: 0px 0px 81px 16px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 81px 16px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 81px 16px rgba(0, 0, 0, 0.1); }
  .content-area .profile-section {
    vertical-align: top;
    display: inline-block;
    padding: 22% 0 0 0;
    max-width: 690px; }
    .content-area .profile-section .profile h1 {
      font-size: 2.9rem;
      font-weight: 900;
      line-height: 1.2;
      margin: 0 0 1rem; }
      .content-area .profile-section .profile h1 span {
        color: #0e0e10; }
    .content-area .profile-section .profile h5 {
      font-size: 1.1rem;
      margin: 0 0 2rem;
      font-weight: 380; }
    .content-area .profile-section .profile p {
      color: #0e0e10;
      font-weight: 180;
      line-height: 1.5;
      margin: 0 0 2rem 0; }

.content-area {
  margin-left: 35%;
  width: 76%;
  background: #41bdd3;
  height: 100%; }

.portfolio .info-section {
  width: 20%; }

.portfolio .content-area {
  background: #41bdd3;
  margin-left: 20%;
  width: 80%;
  min-width: 300px;
  height: 100%;
  overflow: hidden; }
  .portfolio .content-area .portfolio-section {
    margin-bottom: 56px; }
    .portfolio .content-area .portfolio-section h1 {
      font-weight: 700;
      font-size: 3rem;
      text-transform: uppercase;
      margin-bottom: 56px; }
    .portfolio .content-area .portfolio-section .project-section {
      display: grid;
      grid-template-columns: 1fr 1fr; }
      .portfolio .content-area .portfolio-section .project-section .project-box {
        position: relative;
        padding: 30px;
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        cursor: pointer;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 400px; }
        .portfolio .content-area .portfolio-section .project-section .project-box:hover {
          -webkit-box-shadow: 0px 20px 74px 6px rgba(0, 0, 0, 0.1);
          -moz-box-shadow: 0px 20px 74px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 20px 74px 6px rgba(0, 0, 0, 0.1); }
        .portfolio .content-area .portfolio-section .project-section .project-box .grey-bg {
          background: #efefef;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          opacity: 0;
          -webkit-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          overflow: hidden; }
          .portfolio .content-area .portfolio-section .project-section .project-box .grey-bg:hover {
            opacity: 0.9; }
            .portfolio .content-area .portfolio-section .project-section .project-box .grey-bg:hover .project-info .project-details {
              -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
              opacity: 1; }
            .portfolio .content-area .portfolio-section .project-section .project-box .grey-bg:hover .project-info .project-title {
              opacity: 1;
              -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); }
          .portfolio .content-area .portfolio-section .project-section .project-box .grey-bg .project-info {
            padding: 56px;
            position: absolute;
            width: 100%;
            bottom: 0; }
            .portfolio .content-area .portfolio-section .project-section .project-box .grey-bg .project-info .project-details {
              position: relative;
              font-size: 1rem;
              text-transform: capitalize;
              margin: 0 0 1rem;
              -webkit-transform: translate3d(-200px, 0, 0);
              transform: translate3d(-200px, 0, 0);
              opacity: 0;
              -webkit-transition: all .5s ease-in;
              -o-transition: all .5s ease-in;
              transition: all .5s ease-in; }
            .portfolio .content-area .portfolio-section .project-section .project-box .grey-bg .project-info .project-title {
              font-size: 1.9rem;
              text-transform: uppercase;
              font-weight: 700;
              -webkit-transform: translate3d(-100px, 0, 0);
              transform: translate3d(-100px, 0, 0);
              opacity: 0;
              -webkit-transition: all .6s ease-in .1s;
              -o-transition: all .6s ease-in .1s;
              transition: all .6s ease-in .1s; }
            .portfolio .content-area .portfolio-section .project-section .project-box .grey-bg .project-info .fa-long-arrow-right {
              position: absolute;
              bottom: 56px;
              right: 56px;
              font-size: 3rem; }
        .portfolio .content-area .portfolio-section .project-section .project-box h5 {
          font-weight: 549;
          font-size: 1.2rem;
          margin-bottom: 1.4rem;
          text-transform: uppercase; }
        .portfolio .content-area .portfolio-section .project-section .project-box p {
          font-weight: 320;
          font-size: 1rem;
          margin-bottom: 1rem; }

.contact .info-section {
  padding: 54px;
  width: 35%; }

.contact .content-area {
  margin-left: 35%;
  width: 76%;
  background: #41bdd3;
  height: 100%; }
  .contact .content-area .img-container {
    display: inline-block;
    width: 30%;
    position: relative;
    height: 100%; }
    .contact .content-area .img-container .form-section {
      position: absolute;
      top: 90px;
      left: -250px;
      width: 600px;
      height: 85%;
      background: #333333;
      color: #efefef;
      padding: 46px;
      -webkit-box-shadow: 0px 0px 81px 16px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 81px 16px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 81px 16px rgba(0, 0, 0, 0.1); }
      .contact .content-area .img-container .form-section h4 {
        font-size: 1.5rem;
        margin-top: 1.5rem;
        margin-bottom: 4rem; }
      .contact .content-area .img-container .form-section input[type='text'],
      .contact .content-area .img-container .form-section input[type='email'],
      .contact .content-area .img-container .form-section textarea {
        width: 100%;
        background: transparent;
        border: none;
        border-bottom: 2px solid #efefef;
        margin-bottom: 2rem;
        font-size: 1.2rem;
        line-height: 1.4;
        color: #ffffff;
        padding: 15px 0; }
      .contact .content-area .img-container .form-section button[type='summit'] {
        background: #41bdd3;
        border: none;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        text-align: center;
        color: #0e0e10;
        font-size: 1.2rem;
        padding: 17px 30px;
        text-transform: uppercase;
        width: 100%; }
  .contact .content-area .contact-section {
    vertical-align: top;
    display: inline-block;
    padding: 56px;
    width: 70%;
    float: right; }
    .contact .content-area .contact-section .contact-info h1 {
      font-size: 2.9rem;
      font-weight: 900;
      line-height: 1.2;
      margin: 0 0 1rem; }
      .contact .content-area .contact-section .contact-info h1 span {
        color: #0e0e10; }
    .contact .content-area .contact-section .contact-info .contact-box {
      max-width: 600px;
      width: 100%;
      padding: 30px;
      -webkit-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
      cursor: pointer; }
      .contact .content-area .contact-section .contact-info .contact-box:hover {
        -webkit-box-shadow: 0px 20px 74px 6px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 20px 74px 6px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 20px 74px 6px rgba(0, 0, 0, 0.1); }
      .contact .content-area .contact-section .contact-info .contact-box h5 {
        font-weight: 600;
        font-size: 1.1rem;
        margin: 0 0 1.5rem; }
      .contact .content-area .contact-section .contact-info .contact-box p {
        color: #0e0e10;
        font-weight: 180;
        line-height: 1.5;
        margin: 0 0 2rem 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body,
html {
  font-size: 18px;
  background: #0e0e10;
  font-family: 'Barlow Semi Condensed', sans-serif;
  height: 100%; }

.menu-icon {
  position: fixed;
  right: 36px;
  top: 36px;
  padding: 20px;
  z-index: 11; }
  .menu-icon .fa {
    font-size: 2rem;
    color: #0e0e10; }

.primary-btn {
  background: #0e0e10;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  color: #ffffff;
  padding: 15px 30px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  margin-right: 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .primary-btn:hover {
    -webkit-transform: rotateZ(-20deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-20deg);
    background: #faeb13;
    color: #0e0e10; }

.ghost-btn {
  background: #faeb13;
  border: 0px solid #0e0e10;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align: center;
  color: #0e0e10;
  padding: 12px 27px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .ghost-btn:hover {
    -webkit-transform: rotateZ(-20deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-20deg);
    background: #0e0e10;
    color: #ffffff; }

#menu {
  background: #0e0e10;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }
  #menu nav {
    width: 400px;
    text-align: center; }
    #menu nav a {
      font-size: 2.9rem;
      padding: 1rem;
      display: block;
      text-decoration: none;
      color: #ffffff; }
      #menu nav a:hover {
        color: #faeb13;
        font-weight: bold; }

.menu-active .menu-icon .fa {
  color: #ffffff; }

.menu-active #menu {
  width: 100%;
  top: 0;
  bottom: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.scroll-section {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 56px;
  color: #0e0e10; }
