.contact{
    .info-section{
        padding: 54px;
        width: 35%
    }

    .content-area{
        margin-left: 35%;
        width: 76%;
        background: $TC;
        height: 100%;
        // padding: 0 0 0 1.3rem;
        
        .img-container{
            display: inline-block;
            width: 30%;
            position: relative;
            height: 100%;

            .form-section{

                // overflow-y: scroll; <-- To add scroll bar on contact form.

                // overflow-x: hidden;
                
                position: absolute;
                top: 90px;
                left: -250px;
                width: 600px;
                height: 85%;
                background: $DC;
                color: $GC;
                padding: 46px;
                -webkit-box-shadow: 0px 0px 81px 16px rgba(0,0,0,0.1);
                -moz-box-shadow: 0px 0px 81px 16px rgba(0,0,0,0.1);
                box-shadow: 0px 0px 81px 16px rgba(0,0,0,0.1);

                h4{
                    font-size: 1.5rem;
                    margin-top: 1.5rem;
                    margin-bottom: 4rem;
                    

                }
                
                input[type='text'],
                input[type='email'],
                textarea {
                    width: 100%;
                    background: transparent;
                    border: none;
                    border-bottom: 2px solid $GC;
                    margin-bottom: 2rem;
                    font-size: 1.2rem;
                    // text-transform: uppercase;
                    line-height: 1.4;
                    color: $W;
                    padding: 15px 0;
                }

                button[type= 'summit']{
                    background: $TC;
                    border: none;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    border-radius: 30px;
                    text-align: center;
                    color: $PC;
                    font-size: 1.2rem;
                    padding: 17px 30px;
                    text-transform: uppercase;
                    width: 100%;

                }
            }
        }
        

        .contact-section{
            vertical-align: top;
            display: inline-block;
            padding: 56px ;
            width: 70%;
            float: right;

            .contact-info{
                h1{
                    font-size: 2.9rem;
                    font-weight: 900;
                    line-height: 1.2;
                    margin: 0 0 1rem;
                    span{
                        color: $PC;
                    }

                }

                .contact-box{
                    max-width: 600px;
                    width: 100%;
                    padding: 30px;
                    transition: all 1s ease-in-out;
                    cursor: pointer;
    
                    &:hover{
                        -webkit-box-shadow: 0px 20px 74px 6px rgba(0,0,0,0.1);
                        -moz-box-shadow: 0px 20px 74px 6px rgba(0,0,0,0.1);
                        box-shadow: 0px 20px 74px 6px rgba(0,0,0,0.1);
                    }

                    h5{
                        font-weight: 600;
                        font-size: 1.1rem;
                        margin: 0 0 1.5rem;
                        
                    }
                    p{
                        color: $PC;
                        font-weight: 180;
                        line-height: 1.5;
                        margin: 0 0 2rem 0;
                    }

                }
                
            }
        }

    }
}