.home{
    .logo{
        border: 1px solid $W;
        height: 110px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        color: $TC;
        line-height: 0;
        &:hover{
            background: $W;
            cursor: pointer;
            border-bottom: 1rem solid;
        }
    }
    .info-section{
        padding: 54px;
        width: 35%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;

        .info-box{
            position: absolute;
            bottom: 60px;
            h4{
                font-size: 1.2rem;
                color: $W;
                margin: 0.7rem 0;
            }

            p{
                font-size: 1.2rem;
                font-weight: 300;
                color: $W;
                margin: 0.2rem 0 1.6rem;
            }
        }

    }

    .content-area{
        margin-left: 35%;
        width: 76%;
        background: $TC;
        height: 100%;
        // padding: 0 0 0 1.3rem;
        
        .img-container{
            display: inline-block;
            width: 30%;
            position: relative;
            height: 100%;
            .user-img{
                position: absolute;
                top: 90px;
                left: -250px;
                width: 600px;
                height: 85%;
                background: url(https://static.pexels.com/photos/697509/pexels-photo-697509.jpeg) no-repeat center center; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                -webkit-box-shadow: 0px 0px 81px 16px rgba(0,0,0,0.1);
                -moz-box-shadow: 0px 0px 81px 16px rgba(0,0,0,0.1);
                box-shadow: 0px 0px 81px 16px rgba(0,0,0,0.1);
            }
        }
        

        .profile-section{
            vertical-align: top;
            display: inline-block;
            padding: 22% 0 0 0;
            max-width: 690px;

            .profile{
                h1{
                    font-size: 2.9rem;
                    font-weight: 900;
                    line-height: 1.2;
                    margin: 0 0 1rem;
                    span{
                        color: $PC;
                    }

                }
                h5{
                    font-size: 1.1rem;
                    margin: 0 0 2rem;
                    font-weight: 380;
                }
                p{
                    color: $PC;
                    font-weight: 180;
                    line-height: 1.5;
                    margin: 0 0 2rem 0;
                }
            }
        }
    }
} 
// MEDIA QUERIES
//phone - 2nd
@media (max-width: 767px) {
    
}
//tablet - 1st
@media (min-width: 768px) and (max-width: 991px) {
    .home{
        .content-area{
            .user-img{
                position: static;
                width: 100%;
            }
        }

        .profile-section{
            width: 70%;
            float: right;
            padding: 20% 20px 0;
        }
    
    }
}
// laptop
@media (min-width: 992px) and (max-width: 1199px) {

}    
//extra big - 3rd one
@media (min-width: 1200px){

}    