// Variables

// PC = PRIMARY COLOR
// SC = SECONDARY COLOR
// TC = TIERTIARY COLOR
// W = WHITE



$PC: #0e0e10;
$SC: #faeb13;
$AC: #fBC818;
$TC: #41bdd3;
$GC: #efefef;
$W: #ffffff;
$DC: #333333;
$btnTransition: all 0.3s ease-in-out;

